---
data_dir: /var/lib/vector
sources:
  test_logs:
    type: demo_logs
    format: json

transforms:
  test_transform:
    type: dedupe
    inputs:
      - test_logs

sinks:
  debug_sink:
    type: console
    inputs:
      - test_transform
    target: stdout
    encoding:
      codec: json

  test_sink:
    type: clickhouse
    inputs:
      - test_transform
    database: logs
    endpoint: http://clickhouse:8123
    table: test_table
    skip_unknown_fields: true
...